/*BASE*/

body {
    color: #63666B;
}
img {
    max-width: 100%;
}
a {
    color: #E77721;
}
    a:hover {
        color: #D45D00;
    }
.inlinelinks li {
    border-right: 1px solid #878B8E;
}
    .inlinelinks li:last-of-type {
        border-right: none;
    }


/* BOOTSTRAP OVERRIDES */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
.btn-primary {
    background-color: #E77721;
    border-color: #D45D00;
}
.btn-primary:focus,
.btn-primary.focus {
    background-color: #D45D00;
    border-color: #a73700;
}
.btn-primary:hover {
    background-color: #D45D00;
    border-color: #bc4a00;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #D45D00;
    border-color: #bc4a00;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #bc4a00;
    border-color: #a73700;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #E77721;
    border-color: #D45D00;
}
.btn-primary .badge {
    color: #E77721;
}



/*HEADINGS*/

.title-page {
    color: #E77721;
    font-size: 36px;
    font-weight: 700;
}
.pagebody section h2.title {
    color: #63666B;
    font-size: 28px;
}
.pagebody aside h2.title {
    color: #878B8E;
    font-size: 16px;
    font-weight: 700;
}



/*LOGIN FORM*/



/*OFFEREDBY*/
aside.offeredby .title {
    padding-top: 12px;
}
@media (max-width: 767px) {
    aside.offeredby .title {
        border-top: 1px solid lightgray;
    }
}



/*ACCOUNT OVERVIEW*/
.accountOverview .status {
    text-align: center;
}
.accountOverview .balance {
    text-align: right;
}
    .accountOverview td.balance .title {
        margin-right: 4px;
    }
        .accountOverview td.balance .title:after {
            content: ':';
        }
.accountOverview ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 16px;
}
.accountOverview li { display: inline-block; }
/* start commented backslash hack \*/
* html .accountOverview li { height: 1%; }
.accountOverview li { 
    display: block;
    margin-bottom: 4px;
}
/* close commented backslash hack */
    .accountOverview li:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    .accountOverview aside.actions li img {
        float: left;
        margin-right: 8px;
    }
    .accountOverview aside.actions li .title {
        font-size: 110%;
        margin-bottom: 0;
    }
.pageoverview {
    border: 1px solid lightgray;
    margin-bottom: 16px;
    padding: 16px 8px 8px;
    background-color: #F9F9F9;
}
    .pageoverview h3.title {
        font-size: 18px;
    }



/*PROMO ASIDE*/
aside.promos li img.icon {
    margin-right: 4px;
}




/*FOOTER*/
.pagefooter {
    border-top: 4px solid #878B8E;
}
    .pagefooter .copyright {
        font-weight: bold;
    }
    .pagefooter .legal {
        font-style: italic;
        font-size: 90%;
        max-width: 720px;
    }
